

.menu-dropdown{
    .menu-dropdown-content{
        background: white;
         outline: none;
        border: none;
        z-index: 10;
        //box-shadow: var(--box-shadow-1);
        box-shadow: 0 2px 19px -2px rgba(54, 54, 54, 0.53);
    }
}