
.btn{
  border: none;
  min-height: 38px;
  background: white;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 50px;
  box-shadow: 0 0 0 3px #cfdfff;


  &-default{
    background: #ffffff;
    color: #727272;
    box-shadow: 0 0 0 1px #ffffff !important;
  }

  &-primary{
    background: var(--primary) !important;
    color: white !important;
  }


  &:disabled{
    background: rgba(194, 194, 194, 0.51) !important;
    pointer-events: none;
    color: #6b6b6b !important
  ;
    box-shadow: 0 0 0 1px #ffffff !important;
  }
}