
.hero-section{
  .hero-bg-image{
    position: relative;
    max-height: 600px;
    &:before{
      content: "";
      height: 600px;
      position: absolute;
      width: 100%;
      background: rgba(40, 40, 40, 0.49);
    }
    img{
      max-height: 600px;
      width: 100%;
      object-position: bottom;
      object-fit: cover;
    }
  }
}