
.header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
    z-index: 10;
  transition: all .5s ease;

  &.fixed-navigation{
    box-shadow: 0 2px 12px -3px rgb(54 54 54 / 58%);
    background: var(--primary);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    padding-left: 16px;
    padding-right: 16px;
  }


  .logo {
    width: 60px;
    height: 60px;

  }

  nav {
    display: flex;
    column-gap: 20px;

    li {
      list-style: none;
      font-weight: 500;
      font-size: 14px;
      color: white;
    }
  }
}